body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 3px solid #100c0c;
    border-radius: 9px;
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(171, 243, 243);
}

#result {
    border: 2px solid black;
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(248, 214, 219);
}

button:active {
    background-color: #37bfe5;
}
